

.App {
  text-align: center;
}
.App body {
  align-content: center;
  flex-direction: column;

}

.App header {
  display: flex;
  
}

#navChoices a{
  font-size: 18px;
}
#navChoices a:hover {
  background-color: lightgrey;
}

#aboutme {
  justify-content: center;
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}


#portfolio {
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}


#contact-box {
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
}

#contact-form {
  justify-content: center;
  height: 200px;
  width: 200px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

#resume {
  width: 100%;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

#resume-download {
  width: 100%;
  display: flex;
  justify-content: center;
}

#front {
  width: 250px;
  height: 300px;
}
#back {
  width: 250px;
  height: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
